@model IEnumerable<Order>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        <div class="input-group">
          <input class="form-check-input ms-2 mt-2" type="checkbox" id="Discontinued">
          <label class="form-check-label ms-2 mt-1" for="Discontinued">Discontinued</label>
        </div>
      </th>
      <th scope="col" class="text-end">Price ($)</th>
      <th scope="col" class="text-end">Stock</th>
    </tr>
</thead>
<tbody id="product_rows">
</tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    fetchOrders();
  });
  @* document.getElementById("CategoryId").addEventListener("change", (e) => {
    document.getElementById('product_rows').dataset['id'] = e.target.value;
    fetchProducts();
  });
  document.getElementById('Discontinued').addEventListener("change", (e) => {
    fetchProducts();
  }); *@
  async function fetchOrders() {
    @* const discontinued = document.getElementById('Discontinued').checked ? "" : "/discontinued/false"; *@
    const { data: fetchedOrders } = await axios.get(`../../api/order`);
    // console.log(fetchedProducts);
    let product_rows = "";
    fetchedOrders.map(order => {
      @* const css = product.discontinued ? " class='discontinued'" : ""; *@
      @* console.log(css); *@
      product_rows += 
        `<tr>
          <td>${order.id}</td>
          <td class="text-end">${order.requiredDate}</td>
        </tr>`;
    });
    document.getElementById('product_rows').innerHTML = product_rows;
  }
</script>