@model IEnumerable<Order>
<select class="form-select mt-3" id="orderFilter">
  <option value="" selected>All Orders</option>
  <option value="/overdue">Overdue Orders</option>
  <option value="/active">Unfulfilled Orders</option>
</select>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Order Number</th>
      <th scope="col">Order Status</th>
      <th scope="col" class="text-end">Shipped Date</th>
      <th scope="col" class="text-end">Required Date</th>
    </tr>
  </thead>
  <tbody id="order_rows">
  </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../../order.js"></script>